.menu {
    display: flex;
    align-items: center;

    &__link {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: $color1;
        padding-left: 40px;
        transition: all 0.5s linear;
    }

    &__link:hover {
        color: $color3;
    }
}